<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <plugin name="cache_files_collection" type="MageSuite\MediaListingCache\Plugin\Cms\Model\Wysiwyg\Images\Storage\CacheFilesCollection" sortOrder="10" />
    </type>
    <type name="Magento\MediaGalleryUi\Model\Listing\DataProvider">
        <plugin name="cache_files_listing" type="MageSuite\MediaListingCache\Plugin\MediaGalleryUi\Model\Listing\DataProvider\CacheFilesListing" sortOrder="10" />
    </type>

    <type name="Magento\Cms\Block\Adminhtml\Wysiwyg\Images\Tree">
        <plugin name="cache_tree_json" type="MageSuite\MediaListingCache\Plugin\Cms\Block\Adminhtml\Wysiwyg\Images\Tree\CacheTreeJson" sortOrder="10" />
    </type>
    <type name="Magento\Cms\Controller\Adminhtml\Wysiwyg\Images\Thumbnail">
        <plugin name="refresh_thumbnail_url" type="MageSuite\MediaListingCache\Plugin\Cms\Controller\Adminhtml\Wysiwyg\Images\Thumbnail" sortOrder="10" />
    </type>
</config>
